name: EAS Build Android Production app

on:
  pull_request:
    branches: [main]
  push:
    paths:
      - '!apps/web/**'

jobs:
  build:
    name: EAS Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: pnpm/action-setup@v3 # installs the pnpm packages manager in the runner environment
        with:
          version: 8 # pnpm version

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: pnpm install

      - name: Run Turborepo build pipeline
        run: pnpm build

      - name: Build Android app
        run: cd apps/native && eas build --platform android --profile production --non-interactive
